<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yopachara.catradiod"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".CatradiodAPP"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".library.radio.RadioPlayerService">
            <intent-filter>
                <action android:name="com.yopachara.catradiod.library.notification.radio.INTENT_PLAYPAUSE"/>
                <action android:name="com.yopachara.catradiod.library.notification.radio.INTENT_OPENPLAYER"/>
                <action android:name="com.yopachara.catradiod.library.notification.radio.INTENT_CANCEL"/>
            </intent-filter>
        </service>

        <service android:name=".library.media.MediaPlayerService">
            <intent-filter>
                <action android:name="com.yopachara.catradiod.library.notification.media.INTENT_PLAYPAUSE"/>
                <action android:name="com.yopachara.catradiod.library.notification.media.INTENT_OPENPLAYER"/>
                <action android:name="com.yopachara.catradiod.library.notification.media.INTENT_CANCEL"/>
            </intent-filter>
        </service>

        <receiver android:name=".library.broadcast.PlayerControllerBroadcast">
            <intent-filter>
                <action android:name="com.yopachara.catradiod.library.ACTION_STOP_RADIOPLAYER"/>
                <action android:name="com.yopachara.catradiod.library.ACTION_STOP_MEDIAPLAYER"/>
                <action android:name="com.yopachara.catradiod.library.notification.radio.INTENT_OPENPLAYER"/>
                <action android:name="com.yopachara.catradiod.library.notification.radio.INTENT_PLAYPAUSE"/>
                <action android:name="com.yopachara.catradiod.library.notification.radio.INTENT_CANCEL"/>
            </intent-filter>
        </receiver>
        <!-- Fabric -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="62459599b8fa6ebc19b4a9028430ab1fe090a380"/>

        <activity android:name=".ui.main.EmbeddedTweetsActivity">
        </activity>

        <!-- Sticky Service -->
        <service android:name=".data.remote.StickyService"/>


        <receiver android:name=".ui.main.MyBroadcast">
            <intent-filter>
                <action android:name="com.yopachara.catradiod.library.notification.radio.INTENT_OPENPLAYER"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>